
.contact-left  input{
    width: 100%;
    outline: none;
}

.left-button textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.input-group, .left-button label{
    color: #1c00b5;
    font-weight: 600;
}

.left-button button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 30px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

